.modal-dialog{
    &__input-container{
        margin-bottom: 1rem;
        width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input,.modal-dialog__calendar-container{
        margin-left: 2rem;

    }
    p-radioButton{
        margin:0 1rem;
    }
}

    

    &__calendar-container{
            width: 13rem;
    }

   
}
:host  ::ng-deep{
    .p-button[type="submit"]{
   position: absolute;
   bottom: 2rem;
}}
  