

<p-dialog [(visible)]="showDialog" header="Create Todo" [modal]="true" [style]="{ width: '80vw',height:'120vh' }" [draggable]="false" [resizable]="false">
    
    <form [formGroup]="createTodoForm" #form  (ngSubmit)="addTodo()">
      <div class="modal-dialog__input-container">
        <label for="name">Name: </label>
        <input id="name" type="text" pInputText formControlName="name"/>
      </div>
      <div class="modal-dialog__input-container">
        <label for="dueDate">dueDate: </label>
        <div class="modal-dialog__calendar-container">
            <p-calendar class="max-w-full"  [style]="{'z-index':'9999999'}" [showIcon]="true" [minDate]="date.today" id="dueDate" formControlName="dueDate" dateFormat="dd.mm.yy"></p-calendar>

        </div>

    </div>
      
        <div class="modal-dialog__input-container">
            <label for="priority">Priority: </label>
            <div class="flex align-items-center">
                <p-radioButton name="priority" value="urgent"  formControlName="priority" inputId="opt1"></p-radioButton>
                <label for="opt2" class="ml-2">Urgent</label>
            </div>
            
            <div class="flex align-items-center">
                <p-radioButton name="priority" value="not urgent" formControlName="priority" inputId="opt2"></p-radioButton>
                <label for="opt2" class="ml-2">Not Urgent</label>
            </div>
        </div>
       
      
        <h3 *ngIf="createTodoForm.touched && !createTodoForm.valid">Preencha todos os campos</h3>

       
      <p-button [disabled]="!createTodoForm.valid" type="submit" >Add Todo</p-button>
    </form>

</p-dialog>
